<li [ngClass]="{
    'list-group-item':true,
    'list-group-item-success':getColor() === 'green',
    'list-group-item-danger':getColor() === 'red'}">
  <div style="position: absolute; right:15px; color: gray;"></div>

  <small class="pull-right">created at : {{ post.createdAt | date: 'MM/dd/yyyy, hh:mm a' | uppercase }}</small><br/>
  <small class="pull-right" *ngIf="post.updatedAt">updated at : {{ post.updatedAt | date: 'MM/dd/yyyy, hh:mm a' | uppercase }}</small>
  
  <h4 [ngStyle]="{color: getColor()}">{{ post.title }}</h4>

  <p>{{ post.content }}</p>

  <button class="btn btn-success" (click)="onLike()">
    <span class="glyphicon glyphicon-thumbs-up"></span>
    &nbsp;{{ post.likeCount }}
  </button>&nbsp;

  <button class="btn btn-danger" (click)="onDislike()">
    <span class="glyphicon glyphicon-thumbs-down"></span>
    &nbsp;{{ post.dislikeCount }}
  </button>

  <button class="btn btn-default pull-right" (click)="onDelete(id)">
    <span class="glyphicon glyphicon-trash"></span>
  </button>

  <button class="btn btn-default pull-right" (click)="onEdit(id)">
    <span class="glyphicon glyphicon-pencil"></span>
  </button>
</li>