<h2>index of posts</h2>
<ul class="list-group">
  <app-post-index-element
      *ngFor = "let post of posts; let i = index"
        [post] = "post"
        [id] = "i" >
  </app-post-index-element>
</ul>
