<div class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="posts">posts</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="posts/new">new</a>
      </li>
    </ul>
  </div>
</div>