<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>{{ id === -1 ? 'new post' : 'edit post n° ' + id }}</h2>
    <form [formGroup]="group" (ngSubmit)="onSave()">
      <div class="formgroup">
        <label for="title">title</label>
        <input type="text" class="form-control" id="title" formControlName="title">
      </div><br/>

      <div class="formgroup">
        <label for="content">content</label>
        <textarea class="form-control" id="content" rows="10" formControlName="content"></textarea>
      </div><br/>

      <button class="btn btn-success" type="submit" [disabled]="group.invalid">submit</button>&nbsp;
      <button class="btn btn-default" type="button" (click)="onCancel()">cancel</button>
    </form>
  </div>
</div>